#gitting-container {
  position: relative;
  min-height: 200px;

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  a {
    color: #a5a5a5;
    text-decoration: none;
    &:hover {
      color: #797979;
    }
  }

  .clearfix:after,
  .clearfix:before {
    content: "";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .fl {
    float: left;
  }

  .fr {
    float: right;
  }

  .gt-avatar {
    width: 60px;
    padding-right: 15px;
    img {
      width: 100%;
      vertical-align: top;
      border-radius: 3px;
    }
  }

  .caret {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -7px;
      border-right: 8px solid #a6afb9;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
    &::after {
      content: "";
      position: absolute;
      left: -6px;
      top: 11px;
      border-right: 7px solid #fff;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }

  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    div {
      position: absolute;
      top: 27px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #808080;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
      &:nth-child(1) {
          left: 6px;
          animation: lds-ellipsis1 0.6s infinite;
        }
      &:nth-child(2) {
          left: 6px;
          animation: lds-ellipsis2 0.6s infinite;
        }
      &:nth-child(3) {
          left: 26px;
          animation: lds-ellipsis2 0.6s infinite;
        }
      &:nth-child(4) {
          left: 45px;
          animation: lds-ellipsis3 0.6s infinite;
        }
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(19px, 0);
      }
    }
  }

  .gt-error {
    color: red;
    text-align: center;
    font-size: 13px;
    margin-bottom: 20px;
  }

  .gt-loading {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    .lds-ellipsis {
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -32px 0 0 -32px;
    }
  }

  .gt-init {
    text-align: center;
    margin-bottom: 50px;
    font-size: 13px;
    color: #808080;
    a {
      color: #808080;
      padding: 10px 15px;
      display: inline-block;
      vertical-align: top;
      border-radius: 3px;
      border: 1px solid #c3c8cf;
      &:hover {
        color: #333;
        background: #f6f6f6;
      }
    }
  }

  .gt-header {
    font-size: 13px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #c3c8cf;
    .gt-mate {
      a {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }

  .gt-body {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #c3c8cf;
    display: flex;
    .gt-editor {
      position: relative;
      flex: 1;
      .gt-textarea {
        width: 100%;
        font-size: 14px;
        min-height: 150px;
        padding: 8px;
        line-height: 1.5;
        color: #24292e;
        border: 1px solid #d1d5da;
        border-bottom: 1px dashed #c3c8cf;
        border-radius: 3px;
        outline: none;
        box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
        resize: vertical;
        vertical-align: top;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .gt-markdown {
        display: none;
        width: 100%;
        min-height: 179px;
        padding: 8px;
        line-height: 1.5;
        border: 1px solid #d1d5da;
        border-bottom: 0;
        vertical-align: top;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
      }
      .gt-tip {
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        font-size: 12px;
        vertical-align: top;
        margin-top: -1px;
        color: #a5a5a5;
        border: 1px solid #c3c8cf;
        border-top: 0;
        border-bottom: 0;
        a {
          color: #a5a5a5;
          text-decoration: none;
          &:hover {
            color: #797979;
          }
        }
      }
      .gt-tool {
        height: 40px;
        line-height: 40px;
        border: 1px solid #c3c8cf;
        overflow: hidden;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background-image: linear-gradient(-180deg, #fbfbfb 0%, #f3f3f3 90%);
        .gt-switch {
          .gt-btn {
            font-size: 13px;
            cursor: pointer;
            display: inline-block;
            vertical-align: top;
            height: 38px;
            line-height: 38px;
            width: 70px;
            text-align: center;
            color: #5d5d5d;
            text-shadow: 0px 1px 0px #ffffff;
            border-right: 1px solid #c3c8cf;
          }
          .gt-write {
            border-bottom-left-radius: 3px;
            background-image: linear-gradient(-180deg, #e4e4e4, #f5f5f5 90%);
          }
        }
        .gt-send {
          color: #5d5d5d;
          font-size: 13px;
          cursor: pointer;
          display: inline-block;
          vertical-align: top;
          height: 38px;
          line-height: 38px;
          width: 100px;
          text-align: center;
          outline: none;
          border-bottom-right-radius: 3px;
          border: none;
          border-left: 1px solid #c3c8cf;
          text-shadow: 0px 1px 0px #ffffff;
          background-color: #e6e6e6;
          background-image: linear-gradient(-180deg, #fdfdfd 0%, #e6e6e6 90%);
          &:hover {
            background-color: #e2e2e2;
            background-image: linear-gradient(-180deg, #f7f7f7, #e2e2e2 90%);
            background-position: -0.5em;
          }
          &:active {
            background-color: #eaeaea;
            background-image: none;
            box-shadow: inset 0 0.15em 0.3em rgba(27, 31, 35, 0.15);
          }
          &.disabled {
            opacity: 0.5;
          }
        }
      }
      &.gt-mode-preview {
        .gt-textarea,
        .gt-tip {
          display: none;
        }
        .gt-markdown {
          display: block;
        }
        .gt-write {
          background-image: none !important;
        }
        .gt-preview {
          background-image: linear-gradient(-180deg, #e4e4e4, #f5f5f5 90%);
        }
      }
    }
  }

  .gt-comments {
    .comments-item {
      display: flex;
      margin-bottom: 30px;
      .gt-comment-content {
        flex: 1;
        .gt-comment-body {
          min-height: 80px;
          padding: 10px;
          border: 1px solid #d1d5da;
          border-bottom: 1px dashed #c3c8cf;
          border-radius: 3px;
        }
        .gt-comment-mate {
          font-size: 12px;
          padding: 0 10px;
          height: 30px;
          line-height: 30px;
          margin-top: -1px;
          color: #a5a5a5;
          border: 1px solid #c3c8cf;
          border-top: 0;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
          .gt-comment-name {
            margin-right: 15px;
            color: #666;
            &:hover {
              color: #333;
            }
          }
        }
      }
      &.add {
        padding-top: 30px;
        border-top: 1px dashed #c3c8cf;
      }
    }
  }

  .gt-comments-load {
    position: relative;
    text-align: center;
    min-height: 64px;
    margin-bottom: 50px;
    font-size: 13px;
    color: #808080;
    .gt-load-more {
      color: #808080;
      padding: 10px 15px;
      display: inline-block;
      vertical-align: top;
      border-radius: 3px;
      border: 1px solid #c3c8cf;
      &:hover {
        color: #333;
        background: #f6f6f6;
      }
    }
  }
}
