.gitting-container {
    font-size: 14px;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .gitting-error {
        padding: 3px 10px;
        margin-bottom: 10px;
        border-radius: 3px;
        color: red;
        background: #fbc8c8;
        border: 1px solid #f94a48;
    }

    .gitting-header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
}