.gitting-container {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .gitting-header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
}